/* Importing required font for the website */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
    background-image: url("./Images/Header Background.avif");
    background-size: cover;   
}
nav{
    display: flex;
    /* Justifies content on main axis like X for row flex */
    justify-content: space-between;
    /* alighn items along secondary axis say Y for the same one */
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: 0 40px;
}
.nav-bar{
    /* makes the font width lighter */
    font-weight:lighter;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}
.logo{
    width: 20vw;
}
.head h1{
    font-size: 2.1rem;
    font-weight: 400;
    color: white;
}
.search{
    display: flex;
    width: 55vw;
    align-items: center;
    border-radius: 10px;
    background:white;
    padding: 5px 4px;
}
.search .search-item{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.search .search-item p{
    color:grey;
    border-radius: 1px solid grey;
    font-size: 15px;
    margin-right: 10px;
    margin:10px;
}
.search .search-item input{
    outline: none;
    border: none;
    width:200%;
    padding-left:10px;
    font-size:15px;
}
.search-item:first-child{
    color:palevioletred;
    width : 30%;
}
.search .search-item:last-child{
    color:grey;
    width : 70%;
}
.extra{
    height: 12vh;
}
/* Section-1 CSS */
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.section-1 .section-1-item{
    position:relative;
    width: 15rem;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 10px;
    background:white;
    border: 1px solid rgb(240, 236, 236);     
}
.section-1 .section-1-item img{
    width: 100%;
    border: 1px solid rgb(240, 236, 236);
    border-radius: 10px 10px 0px 0px;
    /* to set something on background and other on its top with geater z-index value */
    z-index: -1;
}
.section-1 .section-1-item .item-details{
    position: absolute;
    bottom: 3px;
    align-items: center;
    border: 0 0 10px 10px;
    background: white;
    width: 100%;
    height: 25%;
    z-index: 2;
}
